body {
    /* background-color: #08738e; */
    background-color: black;
    font-family: system-ui;
}

.container {
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}

h1 {
    color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;


}

header .shopping {
    position: relative;
    text-align: right;
    cursor: pointer;

}

header .shopping i {
    color: white;
}

header .shopping img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 10px;
}

header .shopping span {

    height: 35px;
    width: 40px;
    background-color: #ce1010;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 14px;
    left: 80%;
    padding: 3px 0px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 90px;
    row-gap: 90px;
    margin-top: 50px;
}

.list .item {
    text-align: center;
    background-color: #c0dde3;
    padding: 20px;
    /* box-shadow: 0 50px 50px #757676; */
    letter-spacing: 1px;
}

.list .item img {
    /* width: 50%;
    object-fit:fill; */

    width: 150px;
    height: 150px;
    object-fit: cover;
}

.list .item .title {
    font-weight: 600;
}

.list .item .price {
    margin: 10px;
}

.list .item button {
    background-color: #08738e;
    color: black;
    font-weight: bolder;
    width: 100%;
    padding: 10px;
}

.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}

.active .card {
    left: calc(100% - 500px);
}

.active .container {
    transform: translateX(-200px);
}

.card h1 {
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;

}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.card .checkOut div {
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut div:nth-child(2) {
    background-color: #1C1F25;
    color: #fff;
}

.card .checkOut button {
    width: 180px;
    background-color: #032649;
    height: 72px;
    color: white;
    font-size: larger;
}

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}

.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.listCard li img {
    width: 10%;
    height: 1000px;
    object-fit: contain;
    margin-left: -50px;
}

.listCard li button {
    background-color: #fff5;
    border: none;
}

.listCard .count {
    margin: 0 10px;
}

/* toggle */
/* .wrapper
{
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 200ms;
}
.wrapper .open
{
     grid-template-rows: 1fr;
}
.expandable
{
    min-height: 0;
    background-color: #E8BC0E;
    color: #fff;
} */